body {
  background-color: rgb(165, 61, 230);
}

.App {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-wrapper {
  background-color: white;
  width: 400px;
  border-radius: 16px;
}

.row {
  display: flex;
}